import { defineConfig, devices } from '@playwright/test';

export default defineConfig({
  // General configuration
  testDir: './src/Tests', // Test directory
  timeout: 30000, // Set a timeout for tests (30 seconds)
  retries: process.env.CI ? 2 : 0, // Retries on CI only
  workers: process.env.CI ? 1 : 1, // Use 1 worker in local & CI mode
  fullyParallel: true, // Run tests serially in local environment

  // Use section
  use: {
    headless: false, // Run tests in visible mode
    baseURL: 'http://localhost:3000', // Set a base URL if required
    trace: 'on-first-retry', // Collect trace only on first retry
    video: 'retain-on-failure', // Capture video only if a test fails
    screenshot: 'only-on-failure', // Capture screenshots on test failures
  },

  // Reporter configuration
  reporter: [
    ['line'], // Minimal console output
    ['allure-playwright'], // Allure reporter
    ['html', { open: 'on-failure' }], // HTML reporter for failure visualization
  ],

  // Configure projects for major browsers
  projects: [
    {
      name: 'chromium',
      use: { ...devices['Desktop Chrome'] },
    },
    // {
    //   name: 'firefox',
    //   use: { ...devices['Desktop Firefox'] },
    // },
    // {
    //   name: 'Google Chrome',
    //   use: { ...devices['Desktop Chrome'], channel: 'chrome' }, // or 'chrome-beta'
    // },
    {
      name: 'Microsoft Edge',
      use: { ...devices['Desktop Edge'], channel: 'msedge' }, // or 'msedge-dev'
    },
  ],

  // CI-specific configuration
  forbidOnly: !!process.env.CI, // Fail if .only is accidentally left in code
});
